*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: orange;
    display: flex;
    justify-content: center;
}
.container{
    background: springgreen;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    background: silver;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.content{
    background: skyblue;
    display: flex;
    height: 88%;
}
.logo{
    margin-left: 5px;
}
.navigation{
    background: yellowgreen;
    flex-basis: 70%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left-side{
    background: red;
    display: flex;
    flex-basis: 20%;
}
.main{}